#Portfolio {
  background-color: rgb(235, 239, 240);
}

body {
  background-color: lavenderblush;
  color: rgb(6, 7, 6);
}

h1 {
  color: rgb(1, 7, 13);
  font-weight: bolder;
  padding: 10px;
  margin: 25px 0px 0px 0px;
}

nav a {
  color: blue; /* Ensures the color remains blue */
  text-decoration: none; /* Removes underline */
}

h2 {
  margin-bottom: 5px; /* Adjust the bottom margin of the <h2> element */
}

.photo-layout {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.my-name {
  background-color: rgb(12, 84, 113);
  font-weight: bolder;
  color: aliceblue;
  font-size: larger;
  padding: 50px 15px;
  flex-grow: 1;
}

/* Larger Screen Media Query */
@media only screen and (min-width: 1025px) {
  header {
    background: rgb(249, 237, 246);
    font-size: 1.3rem;
    padding: 0.3rem;
  }

  #Portfolio {
    background: rgb(220, 212, 237);
  }

  ul {
    background: rgb(189, 165, 246);
    padding: 2rem;
  }

  .my-name {
    font-style: italic;
    font-size: 1.5rem;
  }
}

/* Tablet Media Query */
@media only screen and (max-width: 1024px) {
  header {
    background: rgb(247, 247, 249);
    font-size: 1rem;
    padding: 0.5rem;
  }

  #Portfolio {
    background: rgb(189, 165, 246);
    color: rgb(35, 2, 2);
  }

  ul {
    background: rgb(220, 212, 237);
    padding: 1.6rem;
  }

  .my-name {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.2rem;
  }
}

.photo {
  width: 150px;
  height: auto;
  margin-left: 10px;
}

.aboutParagraph {
  background-color: rgb(220, 212, 237);
  padding: 40px 15px;
  margin: auto;
  margin-top: 20px;
}

.job-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: rgb(220, 212, 237);
  margin: 25px 0px;
  padding: 20px;
  border: 5px dotted rgb(20, 20, 21);
  width: 100%;
}

.job-1 {
  display: flex;
  margin: 15px 0;
  justify-content: space-between;
}

.job-2 {
  display: flex;
  margin: 15px 0;
  justify-content: space-between;
}

.job-3 {
  display: flex;
  margin: 15px 0;
  justify-content: space-between;
}

.job-description {
  margin-right: 5%;
  width: 35%;
}

.job-dates {
  width: 20%;
}

.job-name {
  width: 25%;
  margin-left: 5%;
}

#Skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

#Skills li {
  background-color: rgb(233, 226, 237);
  padding: 10px;
  border: 1px solid rgb(200, 191, 197);
  border-radius: 5px;
  text-align: center;
  flex: 1 1 200px; /* Grow and shrink with a base size of 200px */
}

#Connect {
  color: black;
  margin: 15px 0;
}

.logos {
  background-color: rgb(12, 84, 113);
  padding: 15px 10px;
  margin-top: 15px;
}

.logo {
  width: 20px;
  margin: 5px 25px 0px 5px;
}

.logo-layout {
  display: flex;
}

.button {
  margin-top: 15px;
}

.input {
  margin: 10px 0px;
}

.form-element {
  display: block;
  margin: 10px 1px;
}
